:root{
  border-color: limegreen;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
}

* {
  font: roboto;
  font-weight: 700;
  line-height: 1 rem;
  color: black;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}