.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
}
.placeholder {
  width: 2rem;
  height: 2rem;
  content: "  ";
  background-color: #F6ABB6;

}
.studentName {
  min-width: fit-content;
  max-width: 50vw;
}
.profile h1 {
  padding: 0rem;
  margin: 8vh 1rem 1.4rem auto;
  height: fit-content;
}
.keyNum {
  width: 10vw;
}